# Copy this file to .env and fill in your own values
# Weights and Biases API
WANDB_API_KEY=your_wandb_api_key_here
WANDB_DIR=logs/
WANDB_CONFIG_DIR=logs/
WANDB_CACHE_DIR=logs/
WANDB_START_METHOD="thread"
